
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: table;
  border-collapse: collapse;
  width: 100%;
}

li {
  display: table-cell;
}

/*img {
  display: block;
  width: 100%;
  height: auto;
}*/

a:focus,
a:hover {
  text-decoration: none;
}

img {
  height: 60px;
  width: auto;
  margin-left:15px;
  margin-right:15px;
}