img {
  height: auto;
  width: 250px;
}

a:focus,
a:hover {
  text-decoration: underline;
}

.socials {
  width: 30%;
  margin-left: 35%;
}

.table {
  border-bottom:0px !important;
}
.table th, .table td {
  border: 1px !important;
}
.fixed-table-container {
  border:0px !important;
}

.social {
  height: 50px;
  width: auto;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
  max-width: 100%;
}
